/*  Table of Content (Index)
        1. Global
		2. Typography
        3. RootContainer
*/

/*  =======================
    1. Global
    ======================= */
*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;

	margin: 0;
	padding: 0;

	background: #e7ebee;
	color: black;

	font-size: 16px;
	text-align: left;
}

/*  =======================
    2. Typography
    ======================= */
h1, h2, h3, h4, h5, h6, p, a, button {
    margin: 0;
    padding: 0;
}

p, a, button {
    font-size: 1rem;
    color: black;
}

a {
    text-decoration: none;
    font: inherit;
}

button {
    display: inline-block;

    padding: 0.63em 1.563em;

    border: 1.5px solid black;
    background: white;

    font: inherit;
    text-align: center;
}

input, textarea, select {
    font: inherit;
}

/*  =======================
    3. RootContainer
    ======================= */
body {
	width: 100%;
	display: grid;
	place-items: center;
}

.calculator {
	width: 100%;
	max-width: 400px;
	min-height: 600px;

	background: #79909d;
	color: #faffff;
	box-shadow: 0 10px 15px 15px #55727622;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30% 1fr;

	font-size: 1.4rem;
	font-family: "Orbitron", sans-serif;
	line-height: 1.4;
}

/* result output area */
.output-area {
	padding: 0 1.8rem 1.8rem;

	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
.output-area > div {
	display: flex;
	align-self: flex-end;
}
/* TODO mark with an id (last result field) */
.output-area > div:last-child {
	font-size: 1.4em;
	font-weight: bold;
}

.action-buttons-area {	
	background: #ffffff;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 20%;

	font-size: 1.2rem;
}

.action-buttons-area > button {
	background: #ffffff;
	color: #4f6e73;
	border: 0;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}
.action-buttons-area > button:hover {
	background: #fafafa;
	scale: 1.2;
}

button.operation {
	background: #e5e9ec;
	border-color: #ffffff;
}
button.operation:hover {
	background: #e0e4e6;
}

button.calculate-result {
	background: #ff7072;
	color: #faffff;
}
button.calculate-result:hover {
	background: #ff6567;
	scale: 1.2;
	border: 0;
}

/* remove extra button's borders according to layout */
.action-buttons-area > button:nth-child(4n+1) {
	border-left: 0;
}
.action-buttons-area > button:nth-child(-n+4) {
	border-top: 0;
}